{% extends "base.html" %}
{% block title %}Edit Card{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Edit Card</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.set, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.type, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.subtype, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.cost, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.ability, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.flavor, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.attack, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.defend, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.spd, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.art, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.designer,class="form-check", style="list-style-type:none") }}
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}

